/* Circular Porgess Bar    */

:root {
  --strwidth: 0;
  --white: #ffffff;
}

.progress-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
}
.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-circle {
  position: absolute;
  top: 0;
  left: 0;
}

.skill-image{
  height: 50px;
  width: 50px;
}


/* Tool Tip    */

.toolTip{
  font-size: 13px;
  position: relative;
  top: 18px;
  width: fit-content;
  align-self: center;
  height: fit-content;
  background-color: white;
  color: black;
  padding: 2px 7px;
  white-space: nowrap;
  z-index: 999;
  border-radius: 7px;
  transform : translateY( 50% ) ;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.toolTip::before{
  content :"";
  position : absolute ;
  left : 50% ;
  top: 20px;
  border-top : 7px solid #fff ;
  border-right : 7px solid transparent ;
  border-left : 7px solid transparent ;
  transform : translateX( -50% ) ;
}

.progress-box:hover .toolTip{
  visibility: visible;
  opacity: 0.8;
} 