/* .experience-card {
    background: #151515;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px rgb(37, 37, 37),
                -5px -5px 10px 1px rgb(37, 37, 37),
                5px -5px 10px 1px rgb(37, 37, 37),
                -5px 5px 10px 1px rgb(37, 37, 37)

  } */
   .experience-card {
    background: #151515;
    border-radius: 20px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.55),
        0 0 40px rgba(255, 255, 255, 0.03);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
